<div class="text-center">
  <h1>Bienvenidos a mi aplicación de clientes/ventas con Firebase</h1>
  <p>Recuerde que para ver como se añaden y eliminan los articulos y clientes debera de abrir la terminal</p>
  <a routerLink="/clientes" class="text-decoration-none mx-2">Clientes</a>
  <a routerLink="/crear" class="text-decoration-none mx-2">Añadir Clientes</a>

  <a routerLink="/articulos" class="text-decoration-none mx-2"
    >Articulos</a
  >
  <a routerLink="/crear-articulos" class="text-decoration-none mx-2"
    >Añadir Articulos</a
  >
</div>
